{% extends 'base.html'%}
{% block content %}
<div class="container">
   
            <h1>{{message}}</h1>
            <ul>
                {# Lo siguiente recorre una lista de productos #}
                {% for product in products %}
                <li class="list-group-item">{{ product.tittle }}
                    
                        {% if product.stock %}
                        <span class="text-success">Disponible</span>
                        {% else %}
                        <span class="text-danger"> No disponible </span>
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
            {#<img src="{%static 'images/mochila.png'%}" alt="Imagen de mochila">#}
        </div>

{% endblock %}
